<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="assets/css/main.css" />
  <title>Troc!</title>
  <link rel="shortcut icon" type="images/icon" href="assets/images/favicon.png"/>
</head>
<body>


  <!--///////Header Starts///////-->
  <header>
  <div id="containerheader">


  <div class="chat">
  <a href=""><img src="assets/images/circle.png" class="circle"></a>
  <div class="hellolog"><a href="">Hola Juancho! Buen Día!</a><br></div>
  <span>Conocé nuestros Trocs sugeridos</span>
  </div>

  <div class="logo">
  <a href=""><img src="assets/images/LogoTrock.png"  class="logoimg" ></a>
  </div>

  <div class="searchfield">
  <form action="">
  <input class="textsearch" type="text" name="search" placeholder="Buscador de Cosas">
  <a href="" ><img src="assets/images/lupa.png" class="lens"></a>
  </form>
  </div>


  <div class="cardtopmenu">
  <a href="" ><img src="assets/images/card.png" class="cardimg"></a>
  <span>Pedí nuestra tarjeta y comprá con criptotrocs!</span>
  <ul class="topmenu">
    <li><a href="">Registrate</a></li>
    <li><a href="">Ingresá</a></li>
    <li><a href="">Preguntas</a></li>
    <li><a href=""><img src="assets/images/carrito.png" class="changuito"></a></li>
  </ul>
  </div>

  </div>
  </header>
  <!--///////Header Ends///////-->


  <!--///////NavBar Starts///////-->
  <nav>
  <div class="topnav">
  <ul class="containernav">
  <li><a href="">Home</a></li>
  <li><a href="">Categorías</a></li>
  <li><a href="">Tus cosas</a></li>
  <li> <a href="">Trocalas</a></li>
  <li><a href="">Vender</a></li>
  <li><a href="">Comprar</a></li>
  </ul>
</div>
  </nav>
  <!--///////NavBar Ends///////-->

  <div  class="mainmain">
  <a href="" ><img src="assets/images/mainmain.png"></a>
  </div>

</body>
</html>
